.tippy-tooltip {
	padding: var(--wp--preset--spacing--20);
	border-radius: 2px;
	text-align: start;
}

.glossary-item-container {
	background: var(--wp--preset--color--light-grey-2);
	padding: 3px 0;
	border-radius: unset;
}

.glossary-item-header {
	display: block;
	color: var(--wp--preset--color--charcoal-1);
	font-weight: 600;
	font-size: var(--wp--preset--font-size--heading-4);
	margin-bottom: var(--wp--style--block-gap);
}

.glossary-item-description {
	font-style: initial;
	line-height: var(--wp--custom--body--small--typography--line-height);
	color: var(--wp--preset--color--charcoal-1);
}

.glossary-item-description a:last-child {
	display: block;
	margin-top: var(--wp--style--block-gap);
}

.glossary-item-description a:hover,
.glossary-item-description a:focus {
	text-decoration: underline;
}
