/** Make Core local nav items with icons only **/
.wp-block-wporg-local-navigation-bar {
	.wp-block-navigation-item {
		a::before {
			/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
			font: 20px / var(--wp--custom--body--small--typography--line-height) dashicons;
			display: inline-block;
			-webkit-font-smoothing: antialiased;
			vertical-align: middle;
		}

		a[href*="browser"] .wp-block-navigation-item__label,
		a[href*="timeline"] .wp-block-navigation-item__label,
		a[href*="newticket"] .wp-block-navigation-item__label {
			clip: rect(1px, 1px, 1px, 1px);
			word-wrap: normal !important;
			border: 0;
			clip-path: inset(50%);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
	}

	a[href*="browser"]::before {
		content: "\f475";
	}

	a[href*="timeline"]::before {
		content: "\f321";
	}

	a[href*="newticket"]::before {
		content: "\f119";
	}
}
