/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

@import "glossary";
@import "icons";
@import "local-nav";
@import "page-front";
@import "page-latest";

:root {
	--wp-components-color-accent: var(--wp--preset--color--blueberry-1);
	--wp-components-color-accent-inverted: var(--wp--preset--color--white);
	--wp-components-color-accent-darker-10: var(--wp--preset--color--deep-blueberry);
}

.wporg-breadcrumbs {
	margin-bottom: calc(var(--wp--preset--spacing--10) * -1);
}

dl.glossary-list dt {
	font-weight: 600;
}

.entry-content {
	code {
		background: var(--wp--preset--color--light-grey-2);
		border-radius: 2px;
		display: inline-block;
		line-height: var(--wp--custom--body--extra-small--typography--line-height);
		max-width: 100%;
		padding-inline-end: 3px;
		padding-inline-start: 3px;
		white-space: break-spaces;
	}

	pre code {
		padding: var(--wp--preset--spacing--20);
		width: 100%;
	}
}

.has-three-columns article {
	--wp--style--global--content-size: 960px;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	border-width: 0;
}
